* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}

a:visited {
    text-decoration: none;
    /* color: rgb(51, 51, 51); */
}



.new_dim {
    max-width: 15rem;
    margin: 0 auto;
}


.ai_logo {

    padding: 0rem;
    width: 3.5rem;
}

.title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.9rem;
    color: #ff3300;
}

.con_us {
    padding: 1rem;
}

.email {
    width: 2.5rem;
}

.cut {
    padding: 0.5rem;
    font-size: 1.3rem;
}

.cu {
    display: flex;
}

.up_head {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    background-color: black;
    padding: 1rem;
    justify-content: center;
    align-items: center;

}

.wname {
    justify-content: center;
    align-self: center;
}

.one_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.tfont {
    font-size: 1.3rem;
    color: #00ccff;
    padding: 0.5rem;
    font-family: 'Libre Baskerville', serif;
}

.tfont:hover {
    cursor: pointer;
    transform: scale(1.1);

}

.add_pic {
    display: flex;
}

.webp {
    width: 50%;
}

.webp:hover {
    cursor: pointer;
}

.mainhead {
    background-color: rgba(43, 48, 49, 255);
}

.prebuilt {
    background-color: rgba(43, 48, 49, 255);
    text-align: center;
}

.title1 {
    font-family: 'Raleway', sans-serif;
    padding: 2rem 1rem 2rem 1rem;
    text-align: center;
    font-size: 2.5rem;
    color: #e6e600;

}

.list21:hover {
    cursor: pointer;
}

.parentcon1 {
    background-image: linear-gradient(180deg, rgba(43, 48, 49, 255), rgba(24, 28, 31, 255));


    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.content1 {
    background-image: linear-gradient(180deg, rgba(43, 48, 49, 255), rgba(24, 28, 31, 255));
    flex-direction: column;
    display: flex;
    border: 0.1px solid white;
    justify-content: space-evenly;
    height: 27rem;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0px -1px 20px 0px #000000;
}

.content1:hover {
    box-shadow: 0px -1px 20px 0px #aba5a5;
    cursor: pointer;
}


.pro_res {
    /* width: 260px; */
    max-width: 100%;
    height: auto;
}

.desc_txt {
    font-family: 'Cinzel', serif;
    color: #ff3300;
    font-size: 1.3rem;
}

.price_tag {
    font-family: 'Cinzel', serif;
    font-size: 1.2rem;
    color: white;
}

.tired {
    padding-top: 3%;
    text-align: center;
    background-color: rgba(24, 28, 31, 255);
}

.tired_desc {
    font-family: 'Alexandria', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: white;
}

.button {
    padding: 0.5rem;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
}

.font_color {
    font-size: 2rem;
    background-color: rgb(0, 230, 172);
    border-radius: 0.3rem;
    padding: 0.3rem;
    transition: background-color 1s ease-out 50ms;
}

.font_color:hover {
    background-color: red;
    transform: scale(2);

}

.testimony {
    justify-content: center;
}

.test_title {
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    background-color: rgba(24, 28, 31, 255);
    color: white;
    padding: 0.5rem;
}

.test_title {
    justify-content: center;
}

.test_img {
    text-align: center;
    color: gold;
    background-color: rgba(24, 28, 31, 255);
    justify-content: center;
}

.para {
    justify-content: center;
    padding: 1rem 12rem 1rem 12rem;
    font-family: 'Cinzel', serif;
    font-size: 1.2rem;
    text-align: justify;
}

.foot_head {
    font-family: 'DM Serif Display', serif;
    font-size: 1.4rem;
    text-wrap: nowrap;
}

.footer_div {
    padding-top: 2rem;
    background-color: black;
    color: white;
}

ul {
    list-style-type: none;
}

.footer_parent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}

.link1 {
    border: 1px solid black;
}

.list21 {
    padding: 0.5rem;
    font-family: 'Maven Pro', sans-serif;
}

.hamburger {
    width: 2rem;
}

.hidd_menu {

    box-shadow: -4px 4px 10px 2px rgba(0, 0, 0, .8);
}

.tfont_hidd {
    border-bottom: 1px solid red;
    color: white;
    text-align: start;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 0.5rem;
}


@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

.icons {
    max-width: 3rem;
    padding-right: 1rem;
}

.animate1 {
    font-family: 'Titillium Web';
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.animate1 * {
    box-sizing: border-box;
    transition: all .35s ease;
}

.animate1 li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0;
}

.animate1 a {
    padding: .5em .8em;
    color: rgba(255, 255, 255, .5);
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.animate1 a::before,
.animate1 a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.animate1 a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #3E8914;
    border-right: 3px solid #2E640F;
    transform: translate(-100%, 50%);
}

.animate1 a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #2E640F;
    border-left: 3px solid #3E8914;
    transform: translate(100%, -50%)
}

.animate1 a:hover:before,
.animate1 a:hover:after {
    transform: translate(0, 0);
    opacity: 1;
}

.animate1 a:hover {
    color: #3DA35D;
}

.mailme
{
    color: white;
}


/* RESPONSIVNESS */

@media screen and (min-width: 120px) and (max-width : 768.9px) {
    .con_us {
        display: none;
    }

    .mainhead {
        display: none;
    }

    .content1 {
        padding: 1rem;
        margin-bottom: 2rem;
    }

    .up_head {
        height: 5rem;
        justify-content: center;
        height: 5rem;
        justify-content: space-between;
        padding-left: 5%;

    }

    .new_dim {
        max-width: 11rem;
    }

    .wname {
        margin-top: 0;
    }

    .title {
        font-size: 1.52rem;
        margin-left: auto;
    }

    .hamburger {
        margin-left: 1rem;
        padding-top: 0.2rem;
    }

    /* VEDANT CHANGES */
    .hidd_ul {
        display: none;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        background-color: black;
        padding-top: 3rem;
        z-index: 5;
        left: 0px;
        top: 0;
        height: 100%;
        position: FIXED;
        justify-content: flex-start;
        box-shadow: -11px -12px 20px 20px #000000;
    }

    .addi {
        text-align: center;
        padding-bottom: 2rem;
    }

    .show {
        display: flex;

    }

    .add_pic {
        display: flex;
        flex-direction: column;
    }

    .webp {
        width: 100%;
    }

    .prebuilt {
        margin: 0;
    }

    .title1 {
        font-size: 1.2rem;

    }

    .parentcon1 {
        display: flex;
        flex-direction: column;
    }

    .tired_desc {
        font-size: 1.3rem;
    }

    .footer_parent {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: flex-start;

    }

    

    .para {
        padding: 1rem;
    }

    .parentcon1 {
        padding: 1rem;
    }
}


@media screen and (min-width: 769px) and (max-width : 870.9px) {

    .lines {
        display: none;
    }

    .content1 {
        padding: 1rem;
        border: none;
        border-right: 1px solid white;
    }

    .pro_res {
        max-width: 140px;
    }

    .new_dim {
        max-width: 10rem;
    }

    .parentcon1 {
        padding: 1rem;
    }
}

@media screen and (min-width: 871px) and (max-width : 1000px) {

    .lines {
        display: none;
    }

    .pro_res {
        max-width: 180px;
    }

    .content1 {
        border: none;
        border-right: 1px solid white;
        padding: 1rem;
    }

    .parentcon1 {
        padding: 1rem;
    }

}

@media screen and (min-width: 1001px)and (max-width : 1500px) {
    .lines {
        display: none;
    }

    .pro_res {
        max-width: 200px;
    }

    .content1 {
        padding: 1rem;
    }
}

@media screen and (min-width: 1500px) {
    .lines {
        display: none;
    }

    .pro_res {
        max-width: 245px;
    }

    .content1 {
        padding: 1rem;
    }
}